// Place all the styles related to the toppage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  padding: 0;
  margin: 0;
  background-color: #000000;
}

canvas {
  margin: auto;
}

#rescue_level {
  display:none;
}
